* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px; 
    text-align: center; 
    height: 100%;
}

#jeu {
    margin: auto;
    display: inline-block;
    height: 100%;
}

#canvas_game {
    border: 1px solid rgb(98, 98, 98);
    max-height: 100%;
    max-width: 100%;
}

#form_debut {
   
    z-index: 1;
    left: 0;
    display: none;
    top: 0;
    background:#e74c3c;
    width:260px;
    height:260px;
    text-align:center;
    color:white;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Roboto, Arial, Sans-serif;
    margin:0 auto;
    
}

p{
  width:100%;
  
  font-size:32px;
  margin-top:30px;
}