* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

#jeu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 100%;
}

#canvas_game {
    position: relative;
    
    border: 1px solid rgb(150, 150, 150);
    max-height: 95%;
    max-width: 95%;
}


#form_debut { 
    z-index: 1;
    display: none;
    position: absolute;
    
    padding: 20px;
    
    background:#009d36;
    text-align:center;
    color:white;
    font-family: Arial;
}

input[type=range] {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 150px;
}